<%= render partial: 'staffs/sideNav', :locals => { :staff_id => params[:id] } %>

<main style="padding-left: 240px">
  <div class="container">
    <br/><br/><br/>
    <h5>Welcome to your personalised Patient Doctor Management System </h5>

  </div>
</main>