<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
      $(document).ready(function(){

          $('select').material_select();
          $('.modal').modal();

          $('.datepicker').pickadate({

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 1, // Creates a dropdown of 15 years to control year



              closeOnSelect: true,
              closeOnClear: true
          });

          $('.sticky').pushpin({
              top: 50,
              bottom: 1500,
              offset: 0,

          });
      });





  </script>

  <style>
    main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      main, footer {
        padding-left: 0;
      }
    }

  </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>




<body>
<header>
  <div class="navbar-fixed">
    <nav class="teal darken-3 white-text">

      <div class="nav-wrapper teal darken-3 white-text" style="font-family: Trajan Pro">
        <ul class="left " style="height: 80px; width: 170px; padding-top: 5px">
          <img class="responsive-img"
               <%= image_tag("Heart_Beat.png", :alt => "rss feed") %>
          />
        </ul>

        <a href="#!" class="brand-logo center"><strong>HeartBeat</strong></a>
        <ul class="right hide-on-med-and-down">
          <!li><!a class="waves-effect waves-light btn"><!i class="material-icons right"><!/i><!/a><!/li>
          <li class="active"><a href="logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>

        </ul>
      </div>
    </nav>

  </div>



</header>

<div class="side-nav fixed" style="width:250px; margin-top:65px; padding-bottom:100px">
  <ul id= "nav-mobile"  >

    <li class="active"><a class="waves-effect waves-teal" href="#!">Home</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Search Patients</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">View appointments</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">My Profile</a></li>

  </ul>
</div>

<main>
  <div class="container " style="width: 85%">
    <h4>Add new Visit</h4>
    <div class="divider"></div>
    <div class="row">
      <br>
      <div class="col s8" >

        <form class="card z-depth-2" action="" method="post" style="">
          <div class="card-content">


            <div class="row">

              <div class="col s6">
                <p for="date_time">Visit Date & Time</p>
              </div>
              <div class="input-field col s6">

                <input id="date_time" value="" type="date" name="date_time" class="datepicker">

              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <p for="doctor">Doctor</p>
              </div>
              <div class="col s6">

                <input id="doctor" type="text" class="validate">

              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <p for="problem">Problems and Complaints</p>
              </div>
              <div class="col s6">

                <input id="problem" type="text" class="validate">

              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <p for="diagnosis">Diagnosis</p>
              </div>
              <div class="col s6">

                <input id="diagnosis" type="text" class="validate">

              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <p for="drug">Prescribed Drugs</p>
              </div>
              <div class="col s6">

                <input id="drug" type="text" class="validate">

              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <p for="remark">Remarks</p>
              </div>
              <div class="col s6">

                <input id="remark" type="text" class="validate">

              </div>


            </div>


            <div class="row">
              <div class="col s12">
                <p class="left-align"><button class="btn waves-effect waves-light" style="background-color: darkorange" type="button" name="action">Save</button></p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col s4">


        <div id="profile-card" class="card sticky z-depth-4" style="top: 50px;">
          <div class="card-image waves-effect waves-block waves-light">
            <br>
            <img class="responsive-img activator card-profile-image"
            <%= image_tag("Heart_Beat.png", :alt => "user background") %>
          </div>

          <div class="card-content">
            <a class="btn-floating halfway-fab waves-effect waves-light orange activator card-profile-image">
              <i class="material-icons">account_circle</i></a>
            <span class="card-title activator grey-text text-darken-4"><strong>Roger Waters</strong></span>
            <p><i class="material-icons prefix">wc</i>Male</p>
            <p><i class="material-icons prefix">cake</i>21 year(s)</p>

          </div>
          <div class="card-reveal" style="display: none; transform: translateY(0px);">
            <span class="card-title grey-text text-darken-4">Roger Waters <i class="mdi-navigation-close right"></i></span>
            <p><i class="material-icons prefix">wc</i>Male</p>
            <p><i class="material-icons prefix">cake</i>21 year(s)</p>
            <p><i class="material-icons prefix">email</i>roger@waters.com</p>
            <p><i class="material-icons prefix">phone</i>+94 77 3831036</p>

          </div>
        </div>

      </div>



      <div id="save" class="modal">
        <div class="modal-content">
          <h4>Add Appointment</h4>
          <p>Are you sure you want to save?</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat ">Yes</a>
        </div>
      </div>


    </div>
</main>




</body>


</html>


