<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
      $(document).ready(function(){
          $('select').material_select();
          $('.modal').modal();

          //$('select').material_select('destroy');

          $('.scrollspy').scrollSpy();
          $('.datepicker').pickadate({
              container: 'body',
              editable: true,
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 1, // Creates a dropdown of 15 years to control year
              closeOnSelect: false,
              closeOnClear: false
          });


      });


      $('input.autocomplete').autocomplete({
          data: {
              "Apple": null,
              "Microsoft": null,
              "Google": 'http://placehold.it/250x250'
          },
          //limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
      });


  </script>

  <style>
    main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      main, footer {
        padding-left: 0;
      }
    }

  </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>




<body>
<header>
  <div class="navbar-fixed">
    <nav class="teal darken-3 white-text">
      <div class="nav-wrapper teal darken-3 white-text" style="font-family: Trajan Pro">
        <a href="#!" class="brand-logo center"><strong>HeartBeat</strong></a>
        <ul class="right hide-on-med-and-down">
          <!li><!a class="waves-effect waves-light btn"><!i class="material-icons right"><!/i><!/a><!/li>
          <li class="active"><a href="logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>

        </ul>
      </div>
    </nav>

  </div>



</header>

<div class="side-nav fixed" style="width:250px; margin-top:65px; padding-bottom:100px">
  <ul id= "nav-mobile"  >
    <li style="height: 150px">

      <div class="background" style="height: 150px">
        <img class="responsive-img" src="http://hd.wallpaperswide.com/thumbs/heart_beat-t2.jpg">

      </div>
    </li>
    <li><div class="divider"></div></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Home</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Add appointment</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">View appointment</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Request appointment</a></li>

  </ul>
</div>

<main>
  <div class="container " style="width: 85%">
    <div class="row">
      <form class="col s12 m12 l12" >
        <h4>View Appointments</h4>


        <div class="divider"></div><br>



        <div class="row">
          <div class="col s12">

            <table class="bordered highlight responsive-table">
              <thead>
              <tr>
                <th data-field="date">Date</th>
                <th data-field="name">Time Block</th>
                <th data-field="doctor">Doctor</th>
                <th data-field="appType">Appointment Type</th>
                <th data-field="status">Status</th>
                <th data-field="action">Action</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>12/2/2017</td>
                <td>9:00AM-11:00AM</td>
                <td>Dr. D.M. Silva</td>
                <td>OPD</td>
                <td>Scheduled</td>

                <td><button class="btn waves-effect waves-light btn tooltipped" data-target="confirmModal" data-position="bottom" data-delay="50" data-tooltip="Cancel Appointment"  id="cancelApp" type="button" name="action"><i class="material-icons prefix">remove</i></button></td>

              </tr>
              <tr>
                <td>12/2/2017</td>
                <td>9:00AM-11:00AM</td>
                <td>Dr. D.M. Silva</td>
                <td>Dermatological</td>
                <td>Cancelled</td>

                <td></td>
              </tr>
              <tr>
                <td>12/2/2017</td>
                <td>9:00AM-11:00AM</td>
                <td>Dr. D.M. Silva</td>
                <td>OPD</td>
                <td>Scheduled</td>

                <td><button class="btn waves-effect waves-light btn tooltipped" data-target="confirmModal" data-position="bottom" data-delay="50" data-tooltip="Cancel Appointment"  id="cancelApp" type="button" name="action"><i class="material-icons prefix">remove</i></button></td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>







      </form>


    </div>
    <div id="confirmModal" class="modal">
      <div class="modal-content">
        <h4>Cancel Appointment</h4>
        <p>Are you sure you want to cancel this appointment?</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
      </div>
    </div>
  </div>
</main>

<footer class="page-footer teal darken-3 white-text" style="position: fixed;
    bottom: 0px; width: 100%; ">

  <div class="footer-copyright">
    <div class="container left aligned">
      Doctor Patient Management System

    </div></div>
</footer>

</body>


</html>





</body>


</html>
