<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
      $(document).ready(function(){

          $('select').material_select();
          $('.modal').modal();
          //$('select').material_select('destroy');

          $('.scrollspy').scrollSpy();
          $('.datepicker').pickadate({

              formatSubmit: undefined,
              editable: false,
              hiddenName: true
          });


      });





  </script>

  <style>
    main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      main, footer {
        padding-left: 0;
      }
    }

  </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>




<body>
<header>
  <div class="navbar-fixed">
    <nav class="teal darken-3 white-text">

      <div class="nav-wrapper teal darken-3 white-text" style="font-family: Trajan Pro">
        <ul class="left " style="height: 80px; width: 170px; padding-top: 5px">
          <img class="responsive-img"
               <%= image_tag("Heart_Beat.png", :alt => "rss feed") %>
          />
        </ul>

        <a href="#!" class="brand-logo center"><strong>HeartBeat</strong></a>
        <ul class="right hide-on-med-and-down">
          <!li><!a class="waves-effect waves-light btn"><!i class="material-icons right"><!/i><!/a><!/li>
          <li class="active"><a href="logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>

        </ul>
      </div>
    </nav>

  </div>



</header>

<div class="side-nav fixed" style="width:250px; margin-top:65px; padding-bottom:100px">
  <ul id= "nav-mobile"  >
    <li style="height: 100px">

      <div class="background" >
        <img class="responsive-img"
             <%= image_tag("Heart_Beat.png", :alt => "rss feed") %>/>

      </div>
    </li>
    <li><div class="divider"></div></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Home</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Add appointment</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">View appointment</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Request appointment</a></li>

  </ul>
</div>

<main>
  <div class="container " style="width: 85%">
    <div class="row">
      <h4>Vitals</h4>
      <div class="divider"></div>
      <div class="row">

        <br>
        <div class="col s8" >

          <form class="card z-depth-2" action="" method="post" style="">
            <div class="card-content ">

              <div class="row">

                <div class="col s6">

                  <p for="height">Date Modified</p>
                </div>

                <div class="input-field col s6">
                  <input id="date_time" value="" type="date" name="date_time" class="datepicker">

                </div>

              </div>


              <div class="row">

                <div class="col s6">

                  <p for="height">Height (cm)</p>
                </div>

                <div class="input-field col s6">
                  <input id="height" value="" type="text" name="height" min="10.0" max="272.0">

                </div>

              </div>


              <div class="row">

                <div class="col s6">

                  <p class="active" for="weight">Weight (kg)</p>
                </div>

                <div class="input-field col s6">
                  <input id="weight" value="" type="text" name="weight" min="0.0" max="250.0">

                </div>
              </div>

              <div class="row">

                <div class="col s6">

                  <p class="active" for="bmi">BMI</p>
                </div>

                <div class="input-field col s6">
                  <input id="bmi" value="" readonly="" type="text" name="bmi">

                </div>

              </div>


              <div class="row">

                <div class="col s6">

                  <p for="blood">Blood Group</p>
                </div>

                <div class="input-field col s6">
                  <select id="blood">
                    <option value="" disabled selected>Choose blood group</option>
                    <option value="1">A+</option>
                    <option value="2">A-</option>
                    <option value="3">B+</option>
                    <option value="4">B-</option>
                    <option value="5">O+</option>
                    <option value="6">O-</option>

                  </select>

                </div>
              </div>




              <div class="row">

                <div class="col s6">

                  <p class="active" for="temp">Temperature (C)</p>
                </div>

                <div class="input-field col s6">
                  <input id="temp" value="" type="text" name="temp" min="25.0" max="43.0">

                </div>

              </div>

              <div class="row">

                <div class="col s6">

                  <p class="active" for="pulse">Pulse (/min)</p>
                </div>

                <div class="input-field col s6">
                  <input id="pulse" value="" type="text" name="pulse" min="0.0" max="230.0">

                </div>

              </div>

              <div class="row">

                <div class="input-field col s6">

                  <p class="active" for="res_rate">Respiratory rate (/min)</p>
                </div>

                <div class="input-field col s6">
                  <input id="res_rate" value="" type="text" name="res_rate" min="0.0" max="999.0">

                </div>

              </div>

              <div class="row">

                <div class="input-field col s6">

                  <p class="active" for="bld_pressure">Blood Pressure (/min)</p>
                </div>

                <div class="input-field col s6">
                  <input id="bld_pressure" value="" type="text" name="bld_pressure" min="50.0" max="250.0">

                </div>

              </div>



              <div class="row">
                <div class="col s3">
                  <p class="left-align"><button class="btn waves-effect waves-light" style="background-color: darkorange" type="button" name="action">Save</button></p>
                </div>
                <div class="col s3">
                  <p class="left-align"><button class="btn waves-effect waves-light" style="background-color: darkorange" type="button" name="action">Back</button></p>
                </div>
              </div>



            </div>
          </form>
        </div>

        <div class="col s4">


          <div id="profile-card" class="card sticky z-depth-4" style="">
            <div class="card-image waves-effect waves-block waves-light">
              <br>

              <%= image_tag("Heart_Beat.png", :alt => "user background") %>
            </div>

            <div class="card-content">
              <a class="btn-floating halfway-fab waves-effect waves-light orange activator card-profile-image">
                <i class="material-icons">account_circle</i></a>
              <span class="card-title activator grey-text text-darken-4"><strong>Roger Waters</strong></span>
              <p><i class="material-icons prefix">wc</i>Male</p>
              <p><i class="material-icons prefix">cake</i>21 year(s)</p>

            </div>
            <div class="card-reveal" style="display: none; transform: translateY(0px);">
              <span class="card-title grey-text text-darken-4">Roger Waters <i class="mdi-navigation-close right"></i></span>
              <p><i class="material-icons prefix">wc</i>Male</p>
              <p><i class="material-icons prefix">cake</i>21 year(s)</p>
              <p><i class="material-icons prefix">email</i>roger@waters.com</p>
              <p><i class="material-icons prefix">phone</i>+94 77 3831036</p>

            </div>
          </div>

        </div>

      </div>

      <div id="save" class="modal">
        <div class="modal-content">
          <h4>Add Appointment</h4>
          <p>Are you sure you want to save?</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat ">Yes</a>
        </div>
      </div>

    </div>
  </div>
</main>




<footer class="page-footer teal darken-3 white-text" style="position: relative;
    bottom: 0px; width: 100%; ">

  <div class="footer-copyright">
    <div class="container left aligned">
      Doctor Patient Management System

    </div></div>
</footer>

</body>


</html>


