<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
      $(document).ready(function(){

          $('select').material_select();
          $('.modal').modal();

          $('.datepicker').pickadate({

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 1, // Creates a dropdown of 15 years to control year



              closeOnSelect: true,
              closeOnClear: true
          });

          $('.sticky').pushpin({
              top: 50,
              bottom: 1500,
              offset: 0,

          });
      });





  </script>

  <style>
    main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      main, footer {
        padding-left: 0;
      }
    }

  </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>




<body>
<header>
  <div class="navbar-fixed">
    <nav class="teal darken-3 white-text">

      <div class="nav-wrapper teal darken-3 white-text" style="font-family: Trajan Pro">
        <ul class="left " style="height: 80px; width: 170px; padding-top: 5px">
          <img class="responsive-img"
               <%= image_tag("Heart_Beat.png", :alt => "rss feed") %>
          />
        </ul>

        <a href="#!" class="brand-logo center"><strong>HeartBeat</strong></a>
        <ul class="right hide-on-med-and-down">
          <!li><!a class="waves-effect waves-light btn"><!i class="material-icons right"><!/i><!/a><!/li>
          <li class="active"><a href="logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>

        </ul>
      </div>
    </nav>

  </div>



</header>

<div class="side-nav fixed" style="width:250px; margin-top:65px; padding-bottom:100px">
  <ul id= "nav-mobile"  >

    <li class="active"><a class="waves-effect waves-teal" href="#!">Home</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Search Patients</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">View appointments</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">My Profile</a></li>

  </ul>
</div>

<main>
  <div class="container " style="width: 85%">
    <h4>Organ/ Tissue/ Blood Request Details</h4>
    <div class="divider"></div>
    <div class="row">
      <br>
      <div class="col s12" >

        <form class="card z-depth-2" action="" method="post" style="">
          <div class="card-content ">

            <table class="bordered highlight responsive-table">
              <thead>
              <tr>
                <th data-field="name">Patient</th>
                <th data-field="organ">Organ</th>
                <th data-field="status">Status</th>
                <th data-field="approved_doctor">Approved Doctor</th>
                <th data-field="approved_date">Approved Date</th>
                <th data-field="action">Action</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td><a href="#">ABC</a></td>
                <td>Heart</td>
                <td class="col">
                  <select multiple>
                    <option value="" disabled selected>Pending</option>
                    <option value="1">Accept</option>
                    <option value="2">Invalid</option>
                  </select></td>
                <td>Dr. D.M. Silva</td>
                <td>12/2/2017</td>
                <td><button class="btn waves-effect waves-light btn tooltipped" style="background-color: darkorange" data-target="confirmApp"  data-position="bottom" data-delay="50" data-tooltip="Save Status" id="addAppointment" type="button" name="action"><i class="material-icons prefix">done</i></button></td>

              </tr>
              <tr>
                <td><a href="#">DEF</a></td>
                <td>Heart</td>
                <td class="col">
                  <select multiple>
                    <option value="" disabled selected>Pending</option>
                    <option value="1">Accept</option>
                    <option value="2">Invalid</option>
                  </select></td>
                <td>Dr. D.M. Silva</td>
                <td>12/2/2017</td>
                <td><button class="btn waves-effect waves-light btn tooltipped" style="background-color: darkorange" data-target="confirmApp"  data-position="bottom" data-delay="50" data-tooltip="Save Status" id="addAppointment" type="button" name="action"><i class="material-icons prefix">done</i></button></td>
              </tr>


              <tr>
                <td><a href="#">GHI</a></td>
                <td>Heart</td>
                <td class="col">
                  <select multiple>
                    <option value="" disabled selected>Pending</option>
                    <option value="1">Accept</option>
                    <option value="2">Invalid</option>
                  </select></td>
                <td></td>
                <td></td>
                <td><button class="btn waves-effect waves-light btn tooltipped" style="background-color: darkorange" data-target="confirmApp"  data-position="bottom" data-delay="50" data-tooltip="Save Status" id="addAppointment" type="button" name="action"><i class="material-icons prefix">done</i></button></td>
              </tr>

              </tbody>
            </table>
          </div>
        </form>
      </div>




    </div>
  </div>
</main>



</body>


</html>


