<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
      $(document).ready(function(){

          $('select').material_select();
          $('.modal').modal();


          $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 1, // Creates a dropdown of 15 years to control year
              min: new Date(),
              closeOnSelect: true
          });

      });


  </script>

  <style>
    main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      main, footer {
        padding-left: 0;
      }
    }

  </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>




<body>
<header>
  <div class="navbar-fixed">
    <nav class="teal darken-3 white-text">
      <div class="nav-wrapper teal darken-3 white-text" style="font-family: Trajan Pro">
        <ul class="left " style="height: 80px; width: 170px; padding-top: 5px">
          <img class="responsive-img"
               <%= image_tag("Heart_Beat.png", :alt => "rss feed") %>
          />
        </ul>
        <a href="#!" class="brand-logo center"><strong>HeartBeat</strong></a>
        <ul class="right hide-on-med-and-down">
          <!li><!a class="waves-effect waves-light btn"><!i class="material-icons right"><!/i><!/a><!/li>
          <li class="active"><a href="logout"><i class="material-icons left">power_settings_new</i>Logout</a></li>

        </ul>
      </div>
    </nav>

  </div>



</header>

<div class="side-nav fixed" style="width:250px; margin-top:65px; padding-bottom:0">
  <ul id= "nav-mobile"  >
    <li style="height: 150px">

      <div class="background" >
        <img class="responsive-img"
             <%= image_tag("Heart_Beat.png", :alt => "rss feed") %>/>

      </div>

    </li>
    <li><div class="divider"></div></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Home</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">My Profile</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Vitals</a></li>
    <li class="active"><a class="waves-effect waves-teal" href="#!">Previous Visits</a></li>

  </ul>
</div>

<main>
  <div class="container " style="width: 85%">
    <div class="row">
      <form class="col s12 m12 l12" >
        <h4>View Appointments</h4>


        <div class="divider"></div><br>



        <div class="row">
          <div class="col s4">
            <p>Date</p>
          </div>

          <div class="col s4">
            <input id="date" type="date" name="date" class="datepicker">
          </div>

        </div>

        <div class="row">
          <div class="col s3">
            <p class="left-align"><button class="btn waves-effect waves-light" style="background-color: darkorange" type="button" name="action">Search</button></p>
          </div>
        </div>

        <div class="divider"></div>
        <br>
        <div class="row">
          <div class="col s12">

            <table class="bordered highlight responsive-table">
              <thead>
              <tr>
                <th data-field="time">Time</th>
                <th data-field="name">Patient</th>
                <th data-field="action">Action</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>12:00 PM - 14:00 PM</td>
                <td><a href="#">John Doe</a></td>
                <td><button class="btn waves-effect waves-light btn tooltipped" data-target="confirmModal"  data-position="bottom" data-delay="50" data-tooltip="Cancel Appointment" id="addAppointment" type="button" name="action" style="background-color: red"><i class="material-icons prefix">close</i></button></td>
              </tr>

              <tr>
                <td>12:00 PM - 14:00 PM</td>
                <td><a href="#">Tom Riddle</a></td>
                <td><button class="btn waves-effect waves-light btn tooltipped" data-target="confirmModal"  data-position="bottom" data-delay="50" data-tooltip="Cancel Appointment" id="addAppointment" type="button" name="action" style="background-color: red"><i class="material-icons prefix">close</i></button></td>
              </tr>

              <tr>
                <td>12:00 PM - 14:00 PM</td>
                <td><a href="#">Mary Ann</a></td>
                <td><button class="btn waves-effect waves-light btn tooltipped" data-target="confirmModal"  data-position="bottom" data-delay="50" data-tooltip="Cancel Appointment" id="addAppointment" type="button" name="action" style="background-color: red"><i class="material-icons prefix">close</i></button></td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>


      </form>

      <div id="confirmModal" class="modal">
        <div class="modal-content">
          <h4>Cancel Appointment</h4>
          <p>This action is irreversible. Are you sure you want to cancel this appointment?</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat ">Confirm</a>
        </div>
      </div>
    </div>
  </div>
</main>


</body>

</html>


