
<!DOCTYPE html>
<html lang="en">
<head>

  <title>HeartBeat</title>

  <!-- CSS  -->
</head>

<body>
<% flash.each do |key, value| %>
    <div id="toast-container"></div>
    <% if key=="success" %>
        <script>
            $(function() {
                Materialize.toast("<%= value %>", 15000,'green');
            });
        </script>
    <% elsif key=="error"%>
        <script>
            $(function() {
                Materialize.toast("<%= value %>", 18000,'red');
            });
        </script>
    <% else %>
        <script>
            $(function() {
                Materialize.toast("<%= value %>", 15000, 'orange darken-1');
            });
        </script>

    <% end %>

<% end %>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-darken-5">HeartBeat</h1>
      <div class="row center">
        <h5 class="header col s12 text-darken-5">Personalised Web based Patient Doctor Management System</h5>
      </div>
      <% if !current_user %>
          <div class="row center">
            <a href="/signup/patient" class="btn-large waves-effect waves-light purple lighten-1">Sign Up</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/login" class="btn-large waves-effect waves-light purple lighten-1">Login</a>
          </div>
          <br><br>

      <% end %>


    </div>
  </div>
  <div class="parallax"><img src="http://lmsofindia.com/wp-content/uploads/2015/08/healthcare-center-qlook.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up Scheduling</h5>

          <p class="light">With the online portal for appointment scheduling you can now schedule appointments from any place you want.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">note</i></h2>
          <h5 class="center">EMR Handling</h5>

          <p class="light">Store all your medical records in one place without having to carry them around.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Organ donor/requester Portal</h5>

          <p class="light">Gain easy access to our organ donor/ requester platform and enjoy its many benefits.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">All our functionalities are implemented whilst keeping the ease and comfort of the users of this web site.</h5>
      </div>
    </div>
  </div>
  <div class="parallax">  <img src="http://www.ordiges.com/info-ordiges/wp-content/uploads/2015/04/Fotolia_65704515_M.jpg" /> </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Contact us through our hot line or our email service.</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive web site which will guarantee a high quality service to all its users</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://static1.squarespace.com/static/5502b54de4b01348a7aec456/t/557a9035e4b0214e9bc915a8/1434095671336/in-store-wellness-hospital.jpg?format=1500w" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">HeartBeat</h5>
        <p class="grey-text text-lighten-4">Sign up now and get on board with us.</p>


      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="brown-text text-lighten-3" href="http://materializecss.com">HeartBeat</a>
    </div>
  </div>
</footer>


<!--  Scripts-->

</body>
</html>
