<div class="container " style="width: 85%">
  <div class="row">
    <form class="col s12 m12 l12" >
      <h4>Search Patients</h4>


       <div class="divider"></div><br>



      <div class="row">
        <div class="col s3">
          <div class="input-field" id="searchField">
            <select>

              <option value="0">Last name</option>
              <option value="1">First Name</option>
              <option value="2">ID</option>
              <option value="3">ID</option>
            </select>
            <label>Search</label>
          </div>
        </div>
        <div class="input-field col s6">
          <label for="searchOn"></label>
          <input type="text" id="searchOn" class="autocomplete" >
        </div>
      </div>


      <div class="row">
        <div class="col s12">

          <table class="bordered highlight responsive-table">
            <thead>
            <tr>
              <th data-field="id">ID</th>
              <th data-field="first_name">First Name</th>
              <th data-field="last_name">Last Name</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>1234</td>

              <td>John</td>
              <td>Doe</td>
              <td><a href="#">View Details</a></td>

            </tr>
            <tr>
              <td>3456</td>
              <td>Mary</td>
              <td>Ann</td>

            </tr>
            <tr>
              <td>6578</td>
              <td>July</td>
              <td>Roberts</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>


    </form>


  </div>
</div>